<div class="jumbotron">
    <h1>Hi!</h1>
    <p>
        Discover the latest movies, find your favorite films and have a great time.
    </p>
    <hr />
    <p>
        Step into the world of movies and enjoy the fun.
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>