@model List<Genre>
<div class="container">
    <main role="main" class="pb-3">
        <div class="btn btn-primary">
            ABOUT Page
        </div>
    </main>
</div>

@section sidebar {
    @await Component.InvokeAsync("Genres")
}