@model HomePageViewModel;
@section jumbo {
    @await Html.PartialAsync("_jumboSection")
    @*
        _jumboSection adlı cshtml kodunu sectiona cevirdim bunu _Layout.cshtmlde kullanacagım.
    *@
}


<div class="container  ">
    <h1>Film Listesi</h1>

    @foreach (var item in Model.PopularMovies)
    {
        @await Html.PartialAsync("_film", item)
    }
    @*
    her bir film için _film adlı partial view'ı async olarak çağırır.
    Her bir film, item  aracılığıyla _film partial view'ına iletilir.
    *@

</div>