@model Movie;
@*
HomeControllerdaki modeli cagırdım fakat model klasorunde olusturdugum Movie classınıda yazdım.
Normalde MovieApp.Models.Movie olarak cagırmam gerekirdi bu yolu kısatmak icin _ViewImports dosyasına yazdım.
Ozetle sayfanın modeli Movie nesnesi
*@

@section jumbo {
    @await Html.PartialAsync("_jumboSection")
    @* 
        _jumboSection adlı cshtml kodunu sectiona cevirdim bunu _Layout.cshtmlde kullanacagım.
    *@
}


<div class="container  ">
    <h1>Film Listesi</h1>
    <div id="filmler">
        <div class="film">
            <p>@Model.Title</p>
            <p>@Model.Description </p>
            <p>@Model.Director</p>
            <p>
                <ul>
                    @foreach (var actor in Model.Actors)
                    {
                        <li>@actor</li>
                    }
                </ul>
            </p>
        </div>
    </div>
</div>

