@model MoviesViewModel;
<div class="container">
    <h1>Film Listesi</h1>
    <div id="filmler">
        @if (Model.Movies.Count() > 0)
        {
            @foreach (var film in Model.Movies)//MovieAndGenreModel icindeki Movies methodundan gelen film listesinde herbir filmi gezicektir.
            {
                @await Html.PartialAsync("_film", film)
                @* _film adlı partialsınımı bu sayfaya ekledim ve verileri film adıyla _filme yolladım*@
            }
        }
        else
        {
            <div class="alert alert-warning">
                Herhangi bir film bulunamadı.
            </div>

        }
    </div>
</div>


@*
*MovieControllerdan List veri tipinde veri göndermiştim onu buradan karşıladım.
*Dahasonra modelin yolunuda (namespace'i'(Movie.csin yolu)) tanımladım
*@

@section sidebar {
    @* @await Html.PartialAsync("_sidebar", Model.Genres) *@
    @* list sayfasında _sidebar partialıda gelicektir ve bu partiala Model.Genres ı yolladım*@

    @await Component.InvokeAsync("Genres")

}
