@model List<Genre>

<div class="list-group mt-5">
    <a href="/movies/list" class="list-group-item list-group-item-action  @(ViewBag.SelectedGenre==null?"active":"")">Tum Kategoriler</a>
    @foreach (var tur in Model)
    {
        <a href="/movies/list/@tur.GenreId"
           class="list-group-item list-group-item-action @(ViewBag.SelectedGenre==tur.GenreId.ToString()?"active":"")">
            @tur.Name
        </a>
    }
</div>